@windicss;

body {
  font-family: -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}
textarea:focus,
input:focus {
  outline: none;
}

button:focus,
input:focus {
  outline: none;
}

div {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}
